/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


:root {
  --primary-color: #002F87;
  --secondary-color: #0F62FE;
  --primary-button-hover-color: #01276E;
  --primary-background-color: #FFFFFF;
  --secondary-color: #FFFFFF;
  --secondary-background-color: #F4F4F8;
  --nav-link-text-color: #C6C6C6;
  --primary-button-text-color: #FFFFFF;
  --primary-button-background-color: #0F62FE;
  --default-button-background-color: #E5E5E5;
}

.Homepage__branding {
  display: grid;
  background-color: var(--primary-color);
  padding: 12px 13px;
  grid-template-columns: auto 1fr minmax(auto, 60px);
  grid-column-gap: 20px;
}

.Homepage__lower-header {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 60px);
}

.Homepage__header {
  display: grid;
  background-color: var(--primary-color);
  padding: 12px 13px;
  grid-template-columns: auto 1fr minmax(auto, 20px) minmax(auto, 60px);
  grid-column-gap: 20px;
}

.Homepage__menu {
  color: var(--nav-link-text-color);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: fit-content(100px);
  grid-column-gap: 10px;
}

.Homepage__navlink {
  display: inline-block;
  align-self: center;
}

.Homepage__logo {
  display: grid;
}

.Homepage__search {
  display: grid;
  justify-content: right;
  align-content: center;
  padding: 10px;
}

.Homepage__login {
  color: var(--nav-link-text-color);
  display: grid;
  justify-content: center;
  align-content: center;
}

.Homepage__body {
  min-height: calc(100vh - 100px);
}

.Homepage__footer {
  height: 50px;
  background-color: var(--primary-color);
  color: var(--nav-link-text-color);
  align-content: center;
}

/* SEARCH RESULT PAGE STYLES */

body > div.bx--grid.Homepage__body > div:nth-child(1) > h1 {
    width: 100%;
    margin-top: 1em;
    font-size: 2rem;
    font-weight: 400;
}

body > div.bx--grid.Homepage__body > div:nth-child(1) > p:nth-child(2) {
    width: 100%;
    margin-top: 1em;
}
