<#assign wp=JspTaglibs[ "/aps-core"]>
<script nonce="<@wp.cspNonce />" async src="<@wp.resourceURL />complete-bundle-test/widgets/bt-widget/js/runtime.js" ></script>
<script nonce="<@wp.cspNonce />" async src="<@wp.resourceURL />complete-bundle-test/widgets/bt-widget/js/vendor.js" ></script>
<script nonce="<@wp.cspNonce />" async src="<@wp.resourceURL />complete-bundle-test/widgets/bt-widget/js/main.js" ></script>
<bt-widget />