#argomenti-sezione {
    height: 100%;
    position: relative;
}

#argomenti-sezione .argomenti {
    /*position: absolute;
    top: 32px;
    margin: 0;*/
    margin: 36px 0 0 0;
}

#argomenti-sezione .argomentispid {
    position: relative;
    margin-top: 40px;
}

#argomenti-sezione h4 {
    font-size: 0.778em;
    font-weight: normal;
}

#argomenti-sezione .argomenti-sezione-info {
    font-size: 0.889em;
}

#argomenti-sezione .argomenti-sezione-info p {
    margin: 24px 0;
}

#argomenti-sezione .argomenti-sezione-info p:last-of-type {
    margin-bottom: 8px;
}

#intro #menu-gestione {
    position: relative;
    height: 100%;
}

#intro #menu-gestione .gestione {
    position: absolute;
    bottom: -16px;
}

.scheda-persona, 
.scheda-video,
.scheda-evento {
    position: relative;
    display: block;
    min-height: 120px;
    background: #fff;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    border: 1px solid #ECEFF1;
    position: relative;
    height: 100%;
    min-height: 168px;
}

.scheda-video {
    background: #3B3A3A;
}

.scheda-persona-singola .scheda-persona {
    height: auto!important;
}

.widget-mono .col-md-6 {
    margin-bottom: 32px;
}

.widget-mono .col-md-6 .scheda-gestione {
    margin-bottom: 0px;
}

.riga-mono {
    margin-bottom: 0;
}

.riga-mono .col-lg-6 {
    margin-bottom: 32px;
}

.riga-mono .col-lg-6:last-child {
    margin-bottom: 0;
}

.riga-mono .col-lg-6 .scheda-gestione {
    margin-bottom: 0px;
}

.scheda-persona .scheda-foto, 
.scheda-video .scheda-anteprima,
.scheda-evento .scheda-foto {
    position: absolute;
    width: 130px;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
}

.scheda-persona .scheda-foto figure, 
.scheda-video .scheda-anteprima figure,
.scheda-evento .scheda-foto figure {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.scheda-persona .scheda-foto img, 
.scheda-video .scheda-anteprima img,
.scheda-evento .scheda-foto img {
    border-radius: 0 4px 4px 0;
    object-fit: cover;
    height: 100%;
    width: 130px;
}

.scheda-persona .scheda-testo,
.scheda-video .scheda-testo,
.scheda-evento .scheda-testo {
    margin-right: 130px;
    padding: 24px 24px 16px 24px;
}

.scheda-persona .scheda-testo,
.scheda-video .scheda-testo,
.scheda-evento .scheda-testo {
    margin-right: 130px;
    padding: 24px 24px 16px 24px;
}

.scheda-persona .scheda-testo h4,
#articolo-dettaglio-testo .scheda-persona .scheda-testo h4,
.scheda-evento .scheda-testo h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
}

.scheda-video .scheda-testo h4 {
    font-size: 1.333em;
    font-weight: bold;
    margin-bottom: 8px;
}

.scheda-persona .scheda-testo p,
#articolo-dettaglio-testo .scheda-persona .scheda-testo p,
.scheda-video .scheda-testo p, 
.scheda-evento .scheda-testo p { 
    font-size: 0.889em;
}

.scheda-persona .scheda-testo h4 a,
.scheda-video .scheda-testo h4 a, 
.scheda-evento .scheda-testo h4 a {
    color: #006631;
}

.scheda-video .scheda-testo h4 a {
    color: #FFF;
}

.scheda-video .scheda-testo p {
    color: #FFF;
}

.scheda-interna .scheda-icona-small,
.scheda-persona .scheda-icona-small,
.scheda-evento .scheda-icona-small {
    color: #555;
}

.scheda-video .scheda-icona-small {
    color: #FFF;
}

.scheda-video .scheda-icona-small svg.icon {
    fill: #FFF;
}

.scheda-persona .scheda-icona-small.mr130,
.scheda-evento .scheda-icona-small.mr130 {
    margin-right: 130px;
}

.scheda-video .scheda-anteprima svg.icon {
    fill: #fff;
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0.7;
}

.scheda-interna .scheda-testo-small h4 {
    font-size: 1.111em;
}

.scheda-interna .scheda-testo-small .lista-titoli {
    list-style-type: square;
    color: #006631;
    padding: 0;
    margin: 0 0 0 24px;
    font-size: 0.889em;
}

.scheda-interna .scheda-testo-small .lista-titoli li {
    font-size:1.222em;
    padding: 0;
}

.scheda-interna .scheda-testo-small .lista-titoli li a {
    color: #006631;
    font-weight: 700;
}

.scheda-persona .scheda-testo.scheda-testo-large {
    margin-right: 0px;
}

.lista-persone {
    margin-top: 12px;
}


/*  ARTICOLO DETTAGLIO  */

#shareModal, #actionModal {
    overflow-y: hidden;
}

.condividi {
    margin-bottom: 24px;
}

.condividi a {
    font-size: 0.889em;
    color: #006631;
}

.condividi svg.icon {
    vertical-align: middle;
    fill: #006631;
    width: 22px;
    height: 22px;
}

.condividi .link-list svg.icon {
    margin: 4px 8px 8px 0 !important;
}

.condividi .link-list a:hover:not(.disabled) svg.icon {
    fill: #006631;
}


.condividi a:focus {
    border: 2px solid #FF8C00 !important;
}

.list-group-item-action:focus {
    border: 2px solid #FF8C00 !important;
}

.data-articolo, .lettura-articolo {
    margin: 0;
}

.data-articolo span, .lettura-articolo span {
    font-size: 0.778em;
}

.data-articolo strong {
    font-size: 0.889em;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}

#intro .btn-celeste {
    margin-top: 8px;
}

#articolo-dettaglio-foto {

}

#articolo-dettaglio-foto figure {
    margin: 0;
}

#articolo-dettaglio-foto figure img {
    object-fit: cover;
    height: 480px;
    width: 100%;
}

.objpos-top {object-position: top;}
.objpos-center {object-position: center;}
.objpos-bottom {object-position: bottom;}

#articolo-dettaglio-foto figure figcaption,
.articolo-foto-interna figure figcaption {
    font-size: 0.778em;
    text-align: center;
    margin: 24px 0 16px 0;
}

.articolo-foto-interna {
    margin-top: 48px;
    margin-bottom: 16px;
}

.articolo-foto-interna figure {
    margin: 0 0 0 -28px;
}

.articolo-foto-interna.img-fit-cover figure img {
    object-fit: cover;
    height: 448px;
    width: 100%;
}

#menu-sinistro h4.dropdown {
    color: #555;
    font-weight: 600;
    font-size: 0.778em;
    text-transform: uppercase;
    padding: 16px 24px;
    margin: 0;
    letter-spacing: 0;
}

#menu-sinistro h4.dropdown [data-toggle=collapse] svg.icon {
    float: right;
    fill: #006631;
    width: 22px;
    height: 22px;
}

#menu-sinistro h4.dropdown [data-toggle=collapse][aria-expanded=false] svg.icon {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#menu-sinistro h4.dropdown a {
    color: #555;
    text-decoration: none;
}

#menu-sinistro .menu-separatore {
    height: 4px;
    border-radius: 1px;
    background-color: #E5E5E5;
    margin-right: -14px;
}

#menu-sinistro .menu-separatore .bg-oro {
    width: 40px;
    height: 4px;
}

#menu-sinistro #lista-paragrafi {
    margin-top: 8px;
}

#menu-sinistro #lista-paragrafi .list-group-item {
    font-size: 0.889em;
    padding: 6px 24px;
    color: #006631;
    border:0;
}

#menu-sinistro #lista-paragrafi .list-group-item.active, 
#menu-sinistro #lista-paragrafi .list-group-item:hover {
    font-weight: bold;
    background: transparent;
}

#articolo-dettaglio-testo .articolo-paragrafi {
    padding-bottom:56px;
}

#articolo-dettaglio-testo .lineright {
    border-right: 1px solid #E5E5E5;
}

#articolo-dettaglio-testo .linetop {
    border-top: 1px solid #E5E5E5; 
}

#articolo-dettaglio-testo .linetop-lg {
    border-top: 1px solid #E5E5E5;
    width: 100%;
    margin: 0 14px;
}

#articolo-dettaglio-testo .paragrafo {
    margin-top: 32px;
}

#articolo-dettaglio-testo .paragrafo a {
    position: absolute;
    left: 0px;
    top: -88px;
}

#articolo-dettaglio-testo .articolo-paragrafi .deleghe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#articolo-dettaglio-testo .articolo-paragrafi .deleghe ul > li {
    text-indent:0;
}

#articolo-dettaglio-testo .articolo-paragrafi .deleghe ul > li:before {
    content: "- ";
    text-indent:0;
}

#articolo-dettaglio-testo h4 {
    font-size: 1.333em;
    font-weight: 600;
    margin-bottom: 4px;
}

#articolo-dettaglio-testo h4 a {
    color: #006631;
}

#articolo-dettaglio-testo p {
    margin-top: 12px;
    margin-bottom: 0;
}

#articolo-dettaglio-testo .articolo-mt0 p:first-child {
    margin-top: 0px;
}

#articolo-dettaglio-testo .articolo-titoletto {
    font-size: 1em !important;
    font-weight: 600 !important;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
    color: #555;
    margin: 16px 0 0 0;
    display: inline-block;
}

#articolo-dettaglio-testo .testolungo {
    font-family: 'Lora', serif;
}

#articolo-dettaglio-testo .testolungo ul {
    list-style-type: none;
    padding: 12px 18px;
    margin: 0;
}

#articolo-dettaglio-testo .testolungo ul li {
    margin: 8px 0;
}

#articolo-dettaglio-testo .testolungo ul li:last-child {
    margin-bottom:0;
}

#articolo-dettaglio-testo .testolungo ul li:before {
    content: "\2014\a0";
    margin-left: -18px;
}

#articolo-dettaglio-testo .note {
    font-size: 14px;
    font-size: 0.778em;
}

#articolo-dettaglio-testo .articolo-paragrafi-link .paragrafo h4 a {
    position: relative;
    left: auto;
    top: auto;
}

#articolo-dettaglio-testo .articolo-paragrafi-link .testolungo p a strong {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-weight: bold;
    font-size: 1em;
}

#articolo-dettaglio-testo .galleriasfondo {
    background: #30373D;
    margin-left: -14px;
    margin-right: -50vw;
    width: 100vw;
    position: absolute;
    height: 368px;
}

#articolo-dettaglio-testo .galleriaslide {
    height: 335px;
    position: relative;
}

#articolo-dettaglio-testo .galleriaslide h4 {
    color: #FFFFFF;
}

#articolo-dettaglio-testo .galleriaslide .owl-item {
    padding: 0 4px;
}

#articolo-dettaglio-testo .galleriaslide .owl-item:first-child {
    padding-left: 0;
}

#articolo-dettaglio-testo .galleriaslide .owl-item:last-child {
    padding-right: 0;
}

#articolo-dettaglio-testo .galleriaslide .galleria-foto {
    height: 200px;
    overflow: hidden;
}

#articolo-dettaglio-testo .galleriaslide .galleria-foto img {
    object-fit: cover;
    height: 100%;
}

#articolo-dettaglio-testo .galleriaslide figure {
    margin: 0;
}

#articolo-dettaglio-testo .galleriaslide figcaption {
    color: #FFFFFF;
    font-size: 0.778em;
    margin-top: 8px;
}


#articolo-dettaglio-testo .articolo-ulterioriinfo p,
#articolo-dettaglio-testo .articolo-ulterioriinfo ul {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-size: 0.889em;
    margin-bottom: 16px;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo ul {
    padding: 0;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo ul li {
    margin: 8px 18px;
    list-style-type: none;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo ul li:before {
    content: "\2014\a0";
    margin-left: -18px;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo a {
    color: #006631;
    font-weight: 700;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo .argomenti a:hover {
    color: #fff;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo .linksmall:hover {
    color: #006631;
}

#articolo-dettaglio-testo .allegati-riga {
    margin-bottom: 32px;
}

#articolo-dettaglio-testo .allegati-riga:last-of-type {
    margin-bottom: 0px;
}

#articolo-dettaglio-testo .allegati-riga .allegato {
    height: 100%;
}

.barretta-verde {
    border: 0 !important; 
    border-left: 8px solid #e6e9ef !important;
}

.barretta-verde .icon {
    fill: #006631;
}

.scheda-allegato,
.scheda-ufficio-contatti {
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    border:0;
    font-size: 1em;
    padding: 16px 24px;
    display: table;
    width: 100%;
    background: #fff;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}

.scheda-allegato-accordion {
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    border:0;
    font-size: 1em;
    padding: 16px 24px;
    display: block;
    width: 100%;
    background: #fff;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}

.scheda-ufficio-contatti {
    margin: 24px 0 36px 0;
}

.listaluoghi .scheda-ufficio-contatti {
    margin: 12px 0 12px 0;
}

.listaluoghi .col-md-12 .scheda-ufficio-contatti {
    margin-bottom: 0;
}

.listaluoghi .row:first-child .col-lg-6:first-child .scheda-ufficio-contatti {
    margin-top: 12px;
}

#articolo-dettaglio-testo .lista-persone-ruoli .persona-ruolo {
    font-size: .889em;
    margin-top: 12px;
}

#articolo-dettaglio-testo .lista-persone-ruoli .persona-ruolo a {
    color: #006631;
    font-weight: 600;
    display: inline-block
}


#articolo-dettaglio-testo .scheda-allegato svg.icon,
#articolo-dettaglio-testo .scheda-ufficio-contatti svg.icon,
#menu-area .scheda-ufficio-contatti svg.icon {
    /* display: table-cell; */
    fill: #006631;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

#articolo-dettaglio-testo .scheda-allegato svg.iconneg,
#articolo-dettaglio-testo .scheda-ufficio-contatti svg.iconneg,
#menu-area .scheda-ufficio-contatti svg.iconneg {
    fill: #fff;
    background: #006631;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 50%;
}

#articolo-dettaglio-testo .scheda-allegato a:hover svg.iconneg,
#articolo-dettaglio-testo .scheda-ufficio-contatti a:hover svg.iconneg,
#menu-area .scheda-ufficio-contatti a:hover svg.iconneg {
    background: #00642a;
}

#articolo-dettaglio-testo .scheda-allegato h4,
#articolo-dettaglio-testo .scheda-ufficio-contatti .scheda-ufficio-testo,
#menu-area .scheda-ufficio-contatti .scheda-ufficio-testo {
    font-size: 1em;
    display: table-cell;
    margin: 0;
    width: 100%;
}

#articolo-dettaglio-testo .scheda-allegato-accordion h4 {
    font-size: 1em;
    display: block;
    margin: 0;
    width: 100%;
}

#articolo-dettaglio-testo .scheda-ufficio-contatti .scheda-ufficio-testo h4 {
    font-size: 1em;
}

#articolo-dettaglio-testo .scheda-allegato h4 a,
#articolo-dettaglio-testo .scheda-allegato-accordion h4 a,
#articolo-dettaglio-testo .scheda-ufficio-contatti h4 a {
    color: #006631;
    word-break: break-word;
}

a.wbreak {
    word-break: break-all;
}

#articolo-dettaglio-testo .scheda-allegato h4 span,
#articolo-dettaglio-testo .scheda-ufficio-contatti h4 span,
#articolo-dettaglio-testo .scheda-ufficio-contatti .scheda-ufficio-testo span,
#menu-area .scheda-ufficio-contatti .scheda-ufficio-testo span,
#articolo-dettaglio-testo .scheda-ufficio-contatti p,
#articolo-dettaglio-testo .scheda-ufficio-contatti ul {
    font-weight: 400;
    color: #4A4A4A;
    font-size: 0.889em;
}

#articolo-dettaglio-testo a svg.icon-link {
    width: 24px;
    height: 24px;
    fill: #006631;
    margin-right: 8px;
}

#articolo-dettaglio-testo .scheda-allegato-accordion .accordion a[data-toggle=collapse] {
    position: relative;
    display: block;
}

#articolo-dettaglio-testo .scheda-allegato-accordion .accordion a[data-toggle=collapse] svg.icon {
    fill: #006631;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
}

#articolo-dettaglio-testo .scheda-allegato-accordion a[data-toggle=collapse][aria-expanded=true] svg.icon {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati,
#articolo-dettaglio-testo ul.accordion-allegati {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}

#articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li,
#articolo-dettaglio-testo ul.accordion-allegati li {
    font-size: .889em;
    margin: 12px 0;
}

#articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li:before,
#articolo-dettaglio-testo ul.accordion-allegati li:before {
    content: "";
    margin-left: 0;
}

#articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li svg.icon,
#articolo-dettaglio-testo ul.accordion-allegati li svg.icon {
    fill: #006631;
    width: 22px;
    height: 22px;
    display: block;
    float: left;
}

articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li a,
#articolo-dettaglio-testo ul.accordion-allegati li a {
    display: block;
    margin-left: 24px;
}

.scheda-gestione {
    border:0;
    border-left: 8px solid #e6e9ef;
    padding: 0 24px;
    margin-bottom: 32px;
    vertical-align: middle;
    min-height: 80px;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    font-size: 1em;
    display: table;
    width: 100%;
    background: #fff;
}

.scheda-gestione svg.icon {
    fill: #006631;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.scheda-gestione p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
    font-size: 0.889em;
    padding: 16px 0;
}

.scheda-gestione a {
    font-size: 1.125em;
    color: #006631;
    line-height: 1;
}

.scheda-gestione a:focus {
    outline: 1px solid #FF8C00 !important;
}

.scheda-gestione .thumbs-round {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    float: right;
    margin: 16px 0 16px 16px;
    overflow: hidden;
}

.scheda-gestione .thumbs-round img {
    object-fit: cover;
    height: 88px;
    width: 88px;
}

.scheda-gestione .thumbs-round-icon {
    background: #e6e9ef;
    color: #006631;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.scheda-gestione .thumbs-round-icon svg.icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: #006631;
}

.scheda-gestione-ufficicitta {
    border: 0;
    position: relative;
}

.scheda-gestione-ufficicitta p, .scheda-gestione-ufficicitta a {
    color: #fff;
}

.scheda-gestione-ufficicitta .scheda-sigla {
    font-size: 4em;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo p.data-articolo {
    margin: 0;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo p.data-articolo strong {
    font-size: 1.111em;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .articolo-ulterioriinfo p.data-articolo strong {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-size: 1em;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo .linksmall {
    font-size: 0.889em;
    text-decoration: underline;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti {
    border-radius: 2px;
    background-color: rgba(116,166,129,0.1);
    box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    padding: 12px 16px 16px 16px;
    margin-top: 12px;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-indirizzo {
    margin-bottom: 32px;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-indirizzo .scheda-contatti-mappa {
    border-radius: 4px;
    background-color: rgba(116,166,129,0.2);
    width: 40px;
    height: 40px;
    color: #006631;
    display: block;
    float: right;
    text-align: center;
}
#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-indirizzo .scheda-contatti-mappa a {
    vertical-align: middle;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-indirizzo .scheda-contatti-mappa svg.icon {
    fill: #006631;
    width: 26px;
    height: 26px;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-telefono strong {
    font-weight: 400;
    color: #006631;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-email,
#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff .scheda-staff-email {
    font-size: 0.778em;
    color: #006631;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff {
    margin-bottom: 16px;
}

#articolo-dettaglio-testo .scheda-staff p {
    margin-top: 0;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .col-md-6:last-child .scheda-staff:last-of-type {
    margin-bottom: 0px;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff strong {
    color: #006631;
    font-weight: 700;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff .ampio a {
    margin-bottom: 12px;
    display: inline-block;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff .ampio a:last-child {
    margin-bottom: 0;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo h5 {
    font-size: 1.111em;
    font-weight: 600;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .mappa-url {
    border-left: 1px solid #003382;
    margin-left: 8px;
    padding: 0 0 0 28px;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .mappa-url li {
    color: #003382;
    margin-left: -8px;
    font-size: 1.333em;
}

#articolo-dettaglio-testo .profilo-dettaglio-testo .mappa-url li a {
    font-size: 0.667em;
    vertical-align: text-bottom;
    line-height: 36px;
}

#articolo-dettaglio-testo .articolo-ulterioriinfo .persone {
    margin-bottom: 0;
}

.persone a.badge-persone { 
    color: #006631;
    border: 1px solid #006631;
    margin-right: 8px;
    margin-top: 12px;
    font-size: 0.889em;
    font-weight: 600;
}

.persone a.badge-persone:hover { 
    background-color: #006631;
    color:#fff;
    text-decoration: none;
}

.argomenti-sezione-elenco.persone a.badge-persone {
    margin-top: 0px;
    margin-bottom: 12px;
}

.callout {
    margin-top: 12px;
    margin-bottom: 0;
}

.callout.important {
    border-color: #316a97 !important;
}

.callout.important .callout-title .icon {
    fill: #316a97 !important;
}

.scheda-verde-piatta {
    -webkit-box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    background-color: #e6e9ef;
    padding:24px 12px;
    margin-bottom: 16px;
}

.scheda-verde-piatta ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.scheda-verde-piatta ul > li {
    margin-left: 44px;  
}

.scheda-verde-piatta ul > li::before {
    content: "-";
    margin-left: -12px;
}

.scheda-verde-piatta p, .callout p {
    list-style:disc outside none;
    display:list-item;
    margin: 0 0 0 32px !important;
}

.callout.sp p, .callout-punti p {
    list-style:none;
    display: block;
    margin: 0 0 8px 0 !important;
}

.callout p, .callout ul {
    font-family: 'Lora', serif;
    font-size: 1em;
    color: #555;
    margin-bottom: 16px !important;
}

.callout ul li {
    margin-left: 16px;
}

.callout.callout-highlight {
    border-left: 2px solid #E6E9F2;
}

.callout.callout-highlight .callout-title {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-size: 1em;
    color: #003382;
    margin-bottom: 16px;
}

.callout.callout-highlight .callout-title span {
    font-size: 0.899em;
    color: #555;
    font-weight: 400;
    text-transform: none;
}

.callout.callout-highlight .callout-title strong {
    font-size: 1.333em;
    font-weight: 700;
}

.callout.callout-highlight p {
    font-size: 0.899em;
    color: #555;
}

.articolo-ulterioriinfo .callout ul, 
.callout-punti p, 
.callout-punti ul {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-size: 0.889em;
    padding-left: 0;
}

.articolo-ulterioriinfo .callout ul li {
    margin-left: 0;
    list-style-type: none;
    margin: 8px 18px;
}

.articolo-ulterioriinfo .callout ul li:before {
    content: "\2014\a0";
    margin-left: -18px;
}

.callout-punti .callout-punto {
    display: table;
    margin-bottom: 16px;
}

.callout-punti .callout-punto .callout-punto-icona,
.callout-punti .callout-punto .callout-punto-testo {
    display: table-cell;
}

.callout-punti .callout-punto .callout-punto-testo p {
    margin: 0!important;
}

.callout-punti .callout-punto .callout-punto-testo ul {
    margin-left: 16px;
    margin-bottom: 0 !important;
}

.callout-punti .callout-punto .callout-punto-icona svg.icon {
    fill: #316a97;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


.scheda-verde-piatta-sp {
    -webkit-box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
    background-color: #e6e9ef;
    padding:12px 24px;
    margin-bottom: 16px;
}

.scheda-verde-link {
    background-color: #e6e9ef;
    padding:12px 24px;
    margin: 12px 0;

}

.scheda-verde-link p {
    margin: 0 !important;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    padding: 12px;
}

.alert-warning {
    border: 0;
    border-left: 8px solid rgba(132,111,93,0.4);
    padding: 24px;
    margin-top: 40px !important;
    vertical-align: middle;
    min-height: 80px;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    font-size: 1em;
    display: table;
    width: 100%;
    background: #fff;
}

.alert-warning svg.icon {
    fill: #846F5D;
    margin-right: 8px;
}

.stepper, .stepper-comunicazioni {
    margin-top: 16px;
    margin-bottom: 24px;
}

.stepper .step {
    height: 96px;
}

.stepper-comunicazioni .step {
    height: 100%;
}

.stepper .step .date-step, 
.stepper-comunicazioni .step .date-step {
    color: #796c31;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    text-align: center;
    width: 11%;
    border-right: 1px solid #796c31;
    float: left;
    height: 100%;
    line-height: 1.2;
    position: relative;
}

.stepper .step .date-step .checked-step {

}

.stepper .step .date-step .checked-step svg.icon {
    fill: #316a97;
    width: 36px;
    height: 36px;
    margin: 22px auto 0 auto;
}

.step .date-step .pallino {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 35px;
    right: -5px;
    background-color: #796c31;
    border-radius: 50%;
}

.step .date-step .date-step-giorno {
    font-size: 2.222em;
}

.step .date-step .date-step-mese {
    font-size: 0.889em;
    font-weight: 500;
    text-transform: uppercase;
}

.stepper .step .testo-step {
    width: 89%;
    float: right;
    height: 100%;
    padding-left: 20px;
    font-weight: 600;
}

.stepper .step .testo-step-largo {
    width: 100%;
    float: left;
    height: 100%;
    padding-left: 20px;
    font-weight: 600;
}

.stepper .step:last-of-type {
    height: 76px;
}

.step:last-of-type .scheda-gestione,
.step:last-of-type .scheda-step {
    margin-bottom: 0;
}

.step .testo-step .scheda-gestione .link-step {
    padding-left: 16px;
    width: 50%;
}

.step .testo-step .scheda-gestione .link-step a {
    font-size: 1em;
    color: #006631;
    font-weight: 400;
    padding: 8px 0;
    display: inline-block;
}

.stepper-comunicazioni .step .testo-step {
    width: 89%;
    float: right;
    height: 100%;
    padding-left: 24px;
    font-weight: normal;
}

.stepper-comunicazioni .step .testo-step-largo {
    width: 100%;
    float: left;
    height: 100%;
    padding-left: 24px;
    font-weight: normal;
}

.stepper-comunicazioni .scheda-gestione {
    padding: 12px 24px 24px 24px;
}

.stepper-comunicazioni .scheda-gestione p {
    display: block;
}

.step .scheda-step {
    border:0;
    border-left: 8px solid #e6e9ef;
    padding: 0 24px;
    margin-bottom: 32px;
    vertical-align: middle;
    min-height: 80px;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    font-size: 1em;
    display: table;
    width: 100%;
    background: #fff;
}

.step .scheda-step .scheda-step-testo {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
    font-size: 0.889em;
    padding: 16px 0;
}

.step .scheda-step .scheda-step-testo a {
    font-size: 1em;
    color: #006631;
}

.step .scheda-step .scheda-step-testo a:focus {
    outline: 1px solid #FF8C00 !important;
}

.step .scheda-step .scheda-step-testo a svg.icon {
    width: 24px;
    height: 24px;
    fill: #006631;
}

#articolo-dettaglio-testo .step .scheda-step .scheda-step-testo p {
    margin: 0;
}

.steppertime {
    margin-top: 16px;
}

.steppertime .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.steppertime .step .date-step {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    width: 11%;
    color: #796c31;
    font-family: "Roboto Mono",monospace;
    font-weight: 500;
    border-right: 1px solid #796c31;
}

.steppertime .step .date-step:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    top: 40px;
    right: -5px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border-radius: 50%;
    background-color: #796c31;
}

.steppertime .step .date-step .date-step-giorno {
    font-size: 2.222em;
    line-height: 1.1;
}

.steppertime .step .date-step .date-step-mese {
    font-size: .889em;
    font-weight: 500;
    text-transform: uppercase;
}

.steppertime .step .testo-step {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 24px;
    -ms-flex-item-align: center;
    align-self: center;
}


.steppertime .step .testo-step .scheda-gestione {
    margin-bottom: 24px;
}

.steppertime .step:last-child .testo-step .scheda-gestione {
    margin-bottom: 0;
}


#contenuti-correlati {
    padding: 64px 0 56px 0;
    background: url(../img/ombra.png) no-repeat top center;
    background-size: contain;
}

#owl-correlati.owl-carousel .owl-stage-outer {
    overflow: visible;
}

#owl-correlati .owl-item {
    padding: 0 28px 0 0;
    opacity: 0;
    transition: opacity 500ms;
}

#owl-correlati .owl-item.active {
    opacity: 1;
}

#owl-correlati .owl-item:last-of-type {
    padding: 0;
}

#contenuti-correlati .scheda-correlati {
    margin-bottom: 16px;
}

#contenuti-correlati .scheda-correlati .scheda-testo {
    padding: 0px;
}

#contenuti-correlati .scheda-correlati h4 {
    font-size: 1.333em;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
    border-bottom: 1px solid #E5E5E5;
    padding:16px;
}

#contenuti-correlati .scheda-correlati h4 svg.icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 22px;
    height: 22px;
    fill: #006631;
}

#contenuti-correlati .scheda-correlati .scheda-testo ul {
    padding: 16px;
    list-style-type: none;
}

#contenuti-correlati .scheda-correlati .scheda-testo ul li {
    padding: 0px 0 8px 0;
}

#contenuti-correlati .scheda-correlati .scheda-testo ul li a {
    color: #006631;
    text-decoration: underline;
}


#contenuti-altri-argomenti {
    padding: 64px 0 56px 0;
}

#contenuti-altri-argomenti .argomenti h4 {
    font-size: 0.778em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#contenuti-altri-argomenti .argomenti h4 a {
    color: #fff;
}

#contenuti-altri-argomenti .argomenti a.badge-argomenti {
    color: #fff;
    border: 1px solid #fff;
}

#contenuti-altri-argomenti .argomenti a.badge-argomenti:hover {
    background-color: #fff;
    color: #316a97;
}

#articolo-dettaglio-testo .scheda-logo {
    display: inline-block;
    margin: 12px 40px 0 0;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

#articolo-dettaglio-testo .scheda-logo-piccolo {
    display: inline-block;
    margin: 12px 40px 0 0;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    line-height: 55px;
    padding: 0;
}

#articolo-dettaglio-testo .scheda-logo-piccolo img {
    width: auto;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}


/* ACCORDION DETTAGLIO */

#articolo-dettaglio-testo .paragrafo .accordion {
    margin-bottom: 0;
}

#articolo-dettaglio-testo .paragrafo .accordion a {
    position: relative;
    left: auto;
    top: auto;
    color: #006631;
    background-color: transparent;
    border-top: 1px solid #e5e5e5;
    padding: 14px 0;
    cursor: pointer;
    display: block;
}

#articolo-dettaglio-testo .paragrafo .accordion a:hover {
    text-decoration: none;
}

#articolo-dettaglio-testo .paragrafo .accordion a[data-toggle=collapse][aria-expanded=true] {
    color: #006631;
}

#articolo-dettaglio-testo .paragrafo .accordion a[data-toggle=collapse] svg.icon {
    fill: #006631;
    width: 30px;
    height: 30px;
    float: right;
}

#articolo-dettaglio-testo .paragrafo .accordion a[data-toggle=collapse][aria-expanded=true] svg.icon {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#articolo-dettaglio-testo .accordion-bottom {
    border-bottom: 1px solid #e5e5e5;
}

#articolo-dettaglio-testo .accordion-bottom p {
    padding-bottom: 14px;
}


#articolo-dettaglio-loghi {
    margin: 32px 0;
    text-align: center;
}

#articolo-dettaglio-loghi .logo-piccolo {
    height: 50px;
    display: inline-block;
    border-right: 1px solid #999;
    margin-bottom: 20px;
}

#articolo-dettaglio-loghi .logo-piccolo img {
    height: 100%;
    width:auto;
    margin: 0 30px;
}

#articolo-dettaglio-loghi p {
    margin-left: -30px;
}

#articolo-dettaglio-loghi .logo-piccolo:last-child {
    border: 0;
}


/*  SERVIZI, FORM e TABELLE  */

.servizi-widget {
    margin-bottom: 64px;
}

.numero-step {
    margin-right: 25px;
}

#servizi-prenotazione form,
.servizi-widget form {
    margin-bottom: 32px;
}

#servizi-prenotazione a#anchor-link {
    position: absolute;
    left: 0px;
    top: 200px;
}

#servizi-prenotazione .form-group {
    margin: 48px 0 48px 0;
}

#servizi-prenotazione h4,
.servizi-widget h4 {
    font-size: 1.333em;
    margin: 0 0 32px 0;
}

#servizi-prenotazione .select-container,
.servizi-widget .select-container {
    position: relative;
    padding: 0;
}

#servizi-prenotazione select,
#intro select, 
.searchWidgetModal select,
.servizi-widget select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    font-weight: 400;
    color: #5A6772;
    height: 48px;
    border: 0;
    border-radius: 4px;
    background-color: rgba(127,127,127,0.1);
    padding: 0 40px 0 16px;
    width: 100%;
    box-shadow: none;
}

.servizi-widget select {
    margin-bottom: 32px;
}

#servizi-prenotazione select:focus,
#intro select:focus, 
.searchWidgetModal select:focus,
.servizi-widget select:focus {
    background-color: rgba(127,127,127,0.1);
}

.searchWidgetModal .form-group-free {
    margin-top: 32px;
}

.searchWidgetModal .form-group-free .cerca-txt-free {
    font-weight: 400;
    color: #9b9b9b;
    height: 48px;
    border: 0;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-bottom: 0;
}


.searchWidgetModal select {
    height: 40px;
}

#servizi-prenotazione .select-arrow,
#intro .select-arrow, 
.searchWidgetModal .select-arrow {
    fill: #006631;
    right: 8px;
    bottom: 8px;
    width: 28px;
    position: absolute;
    display: block;
    z-index: 10;
    margin: 0 0 0 0;
    pointer-events: none;
}

.searchWidgetModal .select-arrow {
    top: 4px;
}

.searchWidgetModal .form-check.form-check-group {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchWidgetModal .toggles {
    min-height: 32px;
    margin-bottom: 3rem;
}

.searchWidgetModal .toggles label {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

.searchWidgetModal .toggles label input[type=checkbox]+.lever {
    margin: 8px 0 16px 0;
}

.searchWidgetModal .toggles label input[type=checkbox]+.lever:after {
    background-color: #8E8C8C;
}

.searchWidgetModal .toggles label input[type=checkbox]:checked+.lever:after {
    background-color: #316a97;
}

#servizi-prenotazione select::-ms-expand,
.servizi-widget select::-ms-expand {
    display: none;
}

#servizi-prenotazione .btn-verde,
.servizi-widget .btn-verde {
    font-size: 1em;
    padding: 12px 32px;
    min-width: 174px;
    margin: 0 16px 0 0;
}

#servizi-prenotazione .btn-verde:disabled,
#servizi-prenotazione .btn-verde:disabled:hover,
.servizi-widget .btn-verde:disabled,
.servizi-widget .btn-verde:disabled:hover {
    background-color: #e6e9ef!important;
    color: #555!important;
    opacity: 1!important;
}

.widget #intro .btn-verde-search {
    font-size: 1em;
    padding: 12px 32px;
    min-width: 174px;
    margin: 42px 16px 42px 0;
}

.scheda-referente {
    border: 0 !important;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1) !important; 
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1) !important; 
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1) !important;
    padding: 32px 24px 0 24px;
}

#servizi-prenotazione label.dati-referente {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #006631;
    font-size: 1em;
    font-weight: 400;
    padding-left: 32px;
}

#servizi-prenotazione label.dati-referente input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top:4px;
    left:4px;
}

#servizi-prenotazione label.dati-referente .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid #006631;
    border-radius: 50%;
}

#servizi-prenotazione label.dati-referente:hover input ~ .radiomark {
    background-color: rgba(127,127,127,0.1);
}

#servizi-prenotazione label.dati-referente:checked ~ .radiomark {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #316a97;
}

#servizi-prenotazione label.dati-referente .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

#servizi-prenotazione label.dati-referente input:checked ~ .radiomark:after {
    display: block;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #316a97;
}

#servizi-prenotazione label.dati-referente input:focus ~ .radiomark {
    outline: 0!important;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(255,140,0,.85);
    box-shadow: 0 0 0 0.1rem rgb(255, 140, 0);
}

#servizi-prenotazione label.dati-referente .radiomark:after {

}

.scheda-referente label.dati-referente span {
    font-size: 0.889em;
    color: #555;
    font-weight: 400;
    line-height: 1.2;
}

#servizi-prenotazione .back {
    color: #006631;
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
}

#servizi-prenotazione .prenota-dataora h5 {
    color: #5A6772;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 32px;
}

#servizi-prenotazione .ui-widget {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}

#servizi-prenotazione .ui-widget.ui-widget-content {
    border: 0;
}

#servizi-prenotazione .ui-widget-header {
    background: none; 
    color: #555555;
    border: 0;
    font-size: 1.111em;
}

#servizi-prenotazione .ui-datepicker table {
    font-size: 0.889em;
}

#servizi-prenotazione .ui-datepicker th {
    color: #796c31;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
    color: #555555;
    font-weight: 600;
    padding: 8px;
    border-radius: 50%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    background: transparent;
    font-weight: 600;
    color: #555555;
    border:1px solid transparent;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.ui-datepicker-calendar .ui-datepicker-today a.ui-state-active {
    background-color: #316a97;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1); 
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    color: #fff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    color: #555555;
    font-weight: 600;
    border:1px solid #316a97;
    border-radius: 50%;
}

.ui-widget-header .ui-icon {
    background: none;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    font-size: 0.6em;
    text-align: center;
    position: absolute;
    top: 12px;
    border:1px solid transparent;
    border-radius: 50%;
}

.ui-datepicker .ui-datepicker-prev {
    background-image: url(../img/it-chevron-left.svg);
}

.ui-datepicker .ui-datepicker-next {
    background-image: url(../img/it-chevron-right.svg);
}

.ui-datepicker-calendar td.ui-state-disabled {
    opacity: 1;
}

.ui-datepicker-calendar td.ui-state-disabled:before {
    background: #F5A623;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 1px;
    height: 40px;
    margin-left: 20px;
}

.ui-datepicker-calendar td.ui-datepicker-other-month:before {
    background: none;
    content: none;
}

.ui-datepicker-calendar .ui-datepicker-today a {
    border:1px solid #316a97;
    background: transparent;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
    box-shadow: none;
    color: #555;
}

#servizi-prenotazione .btn-ora {
    -webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.17);
    -moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.17);
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.17);
    background-color: #FFFFFF;
    margin-bottom: 16px;
    height: 56px;
    text-align: center;
    color: #4A4A4A;
    font-size: 0.889em;
    font-weight: 600;
    width: 100%;
}

#servizi-prenotazione .btn-ora.active {
    background-color: #316a97;
    color: #FFFFFF;
}

.servizi-widget .form-group {
    margin: 0;
}

#servizi-prenotazione label,
.servizi-widget .form-group label {
    color: #5A6772;
    margin-bottom: 16px;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 400;
    padding: 0;
    position: relative;
    transform: none;
    z-index: 1;
}

.servizi-widget .form-ckgroup {
    margin-top: 24px;
    margin-bottom: 32px;
    color: #5A6772;
}

.servizi-widget .select-arrow {
    fill: #006631;
    right: 8px;
    bottom: 8px;
    width: 28px;
    position: absolute;
    display: block;
    z-index: 10;
    margin: 0 0 0 0;
    pointer-events: none;
}

#servizi-prenotazione textarea,
.servizi-widget textarea {
    min-height: 328px;
    background: #F2F2F2;
    border:0;
    border-radius: 4px;
    width: 100%;
    color: #5A6772;
    font-weight: normal;
    padding: 16px;
}

.servizi-widget textarea:focus {
    background: #F2F2F2;
}

#servizi-prenotazione input[type="text"],
.servizi-widget input[type="text"] {
    background: #F2F2F2;
    border:0;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 32px;
    color: #5A6772;
    font-weight: normal;
    padding: 16px;
    height: 48px;
}

#servizi-prenotazione input[type="text"]:disabled,
.servizi-widget input[type="text"]:disabled,
.servizi-widget select:disabled {
    color: #908E8E;
}

.servizi-widget select:disabled {
    background: #f2f2f2;
}

#servizi-prenotazione .form-group-disabled {
    position: relative;
}

#servizi-prenotazione .form-group-disabled .input-checked-disabled {
    position: absolute;
    fill: #417505;
    top: 8px;
    right: 12px;
    width: 32px;
    height: 32px;
}

#servizi-prenotazione h5,
.servizi-widget h5 {
    color: #796c31;
    font-weight: 600;
    font-size: 1.111em;
    margin-bottom: 20px;
}

#servizi-prenotazione .prenotazione-nav {
    margin-top: 32px;
}

#servizi-prenotazione .verifica h5 {
    margin-bottom: 0;  
    font-size: 1em;
}

#servizi-prenotazione .verifica p {
    margin-bottom: 48px;
}

#servizi-prenotazione .linebottom {
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 32px;
}

#servizi-prenotazione .scheda-gestione {
    margin-top: 16px;
}

#servizi-prenotazione .verifica h4 {
    color: #796c31;
}

.notifica {
    position: relative;
    display: block !important;
    right: auto;
    top: auto;
    bottom: auto;
    width: auto;
    margin-top: 24px;
    -webkit-box-shadow: 0px 3px 15px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 15px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 3px 15px 0 rgba(0,0,0,0.1);
    border-top: 0 !important;
    border-radius: 4px;
}

.notifica h5 {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
}

.notification.with-icon h5 .icon {
    position: absolute;
    top: -4px;
    left: -38px;
}

.notifica.success {
    border-left: 8px solid #316a97;
}

.notifica.success h5 {
    color: #316a97;
}

.notification.with-icon.success .icon {
    fill: #316a97;
}

.notifica.info {
    border-left: 8px solid #006631;
}

.notifica.info h5 {
    color: #006631;
}

.notification.with-icon.info .icon {
    fill: #006631;
}

.notifica.error {
    border-left: 8px solid #D71820;
}

.notifica.error h5 {
    color: #D71820;
}

.notification.with-icon.error .icon {
    fill: #D71820;
}

.notifica.warning {
    border-left: 8px solid #827534;
}

.notifica.warning h5 {
    color: #827534;
}

.notification.with-icon.warning .icon {
    fill: #827534;
}

.notifica p {
    font-size: 1em;
    margin-left: 33px !important;
    margin-top: 8px !important;
}

.servizi-widget .note {
    font-size: 0.889em;
}

.servizi-widget .note a {
    color: #006631;
}

.servizi-widget .form-check {
    margin: 0;
}

.servizi-widget .form-check [type=checkbox]+label, 
.servizi-widget .form-check [type=radio]+label {
    color: #555;
    font-size: 1em;
    padding-left: 32px;
    margin-bottom: 8px;
}

.servizi-widget .form-check:last-child [type=checkbox]+label, 
.servizi-widget .form-check:last-child [type=radio]+label {
    margin-bottom: 0px;
}

.servizi-widget .form-check [type=checkbox]+label::before {
    margin: 2px 0px;
}

.servizi-widget .form-check [type=checkbox]+label::after {
    margin: 6px 0px;
}

.servizi-widget .form-check [type=checkbox]:checked+label::before {
    top: 7px;
}

.servizi-widget .form-check [type=checkbox]:not(:checked)+label::after {
    border-color: #555;
    border-width: 1px;
}


.servizi-widget .form-check [type=checkbox]:checked+label::after,
.servizi-widget .form-check [type=radio]:checked+label::after {
    border-color: #555;
    background-color: #555;
}

.servizi-widget .form-check [type=radio]:checked+label::before {
    border-color: #555;
    border-width: 1px;
}

.form-check [type=radio]:not(:checked)+label::after, 
.form-check [type=radio]:not(:checked)+label::before {
    border-color: #555;
    border-width: 1px;
}

.servizi-widget .nav-tabs li {
    text-align: center;
}

.servizi-widget .nav-tabs li a {
    color: #006631; 
    font-size: 1.111em; 
    font-weight: 600; 
    letter-spacing: 1px; 
    display: block; 
    border-bottom: 2px solid transparent; 
    padding: 16px 32px;
}

.servizi-widget .nav-tabs li a:hover,
.servizi-widget .nav-tabs li a.active {
    color: #796c31; 
    border-bottom: 2px solid #796c31; 
    text-decoration: none;
}

.servizi-widget .tab-content>.active {
    padding-left: 0 !important;
}

.servizi-widget .tab-content p {
    margin-bottom: 32px;
}

.servizi-widget .form-group .ico-sufix {
    position: absolute; 
    width: 48px; 
    height: 48px; 
    text-align: center; 
    right: 0; 
    bottom: 0; 
    vertical-align: middle; 
    background-color: #316a97; 
    color: #fff; 
    border-radius: 0 4px 4px 0; 
    border: 0; 
    padding: 0; 
    cursor: pointer;
}

.servizi-widget .form-group .ico-sufix svg.icon {
    width: 26px; 
    height: 26px; 
    fill: #fff;
}

.servizi-widget .form-group-inline {
    display: inline-block;
    margin-left: 16px;
}

.servizi-widget .form-group-inline input[type="text"] {
    height: 32px;
    margin-bottom: 0;
}

.servizi-widget .form-group-inline .ico-sufix {
    width: 32px; 
    height: 32px;
    top: 0;
    line-height: 0;
}

.servizi-widget .form-group-inline .ico-sufix svg.icon {
    width: 16px; 
    height: 16px; 
}

.servizi-widget .campoerrore {
    border: 2px solid #D71820!important;
}

.servizi-widget .campoerrore-testo {
    color: #d71820!important;
    font-style: italic;
    white-space: normal;
    font-size: 0.887em;
    line-height: 0;
}

.servizi-widget .form-check.campoerrore {
    border:0!important;
}

.servizi-widget .form-check.campoerrore [type=checkbox]:not(:checked)+label::after {
    border-color: #d71820!important;
    border-width: 2px;
}

.servizi-widget .table th,
.tabella-resp thead th {
    color: #000;
    font-size: 0.889em;
    font-weight: 400;
    text-transform: uppercase;
}

.tabella-resp tbody th {
    color: #006631;
}

.tabella_risultati {
    font-size: .889em;
    margin-right: 16px;
}


.scheda-dipendente {
    background-color: #e6e9ef;
    padding:24px;
    margin-bottom: 16px;
    border-radius: 4px;
    height: 100%;
    line-height: 1.5em;
}

#schedamappa {
    height: 368px;
    box-sizing: content-box;
    position: absolute!important;
    left: 0;
    right: 14px;
    z-index: 800;
}

#schedamappah {
    height: 368px;
    position: relative;
    width: 100%; 
}

#cm-mappa {
    height: 700px;
    box-sizing: content-box;
    /*position: absolute!important;*/
    left: 0;
    z-index: 800;
}

#cm-mappah {
    height: 700px;
    /*position: relative;*/
    width: 100%; 
}

#videoplayer {
    height: 480px;
    box-sizing: content-box;
    position: absolute!important;
    left: 0;
    right: 14px;
    z-index: 800;
    margin-top: 43px;
}

#videoplayerh {
    height: 480px;
    position: relative;
    width: 100%; 
    margin-top: 0px;
    margin-bottom: 72px;
}


/*  EVENTI  */

.addeventatc {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    margin-top: 16px;
}

.addeventatc .start, .addeventatc .end, 
.addeventatc .timezone, .addeventatc .title, 
.addeventatc .description, .addeventatc .location, 
.addeventatc .organizer, .addeventatc .organizer_email, 
.addeventatc .facebook_event, .addeventatc .all_day_event, 
.addeventatc .date_format, .addeventatc .alarm_reminder, 
.addeventatc .recurring, .addeventatc .attendees, 
.addeventatc .calname, .addeventatc .uid, 
.addeventatc .status, .addeventatc .method, 
.addeventatc .client, .addeventatc .transp {
    display: none!important;
}

/* Drop down */
.addeventatc_dropdown {
    width: 230px;
    position: absolute;
    padding: 6px 0px 0px 0px;
    font-family:"Titillium Web",Geneva,Tahoma,sans-serif;
    color:#000!important;
    font-weight:600;
    line-height:100%;
    background:#fff;
    font-size: 1em;
    text-decoration:none;
    text-align:left;
    margin-left:-1px;
    display:none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0px 10px 26px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0px 10px 26px;
    box-shadow: rgba(0,0,0,0.4) 0px 10px 26px;
    transform: scale(.98,.98) translateY(5px);
    z-index: -1;
    transition: transform .15s ease;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.addeventatc_dropdown.topdown {
    transform:scale(.98,.98) translateY(-5px)!important;
}

.addeventatc_dropdown span {
    display:block;
    line-height:100%;
    background:#fff;
    text-decoration:none;
    cursor:pointer;
    font-size: 1em;
    color:#555;
    font-weight:600;
    padding: 16px 24px 16px 24px;
    -webkit-transition:background-color .3s;
    transition:background-color .3s;
}

.addeventatc_dropdown span:hover {
    background-color: #FCFDFF;
    color: #000;
    text-decoration: none;
}

.addeventatc_dropdown em {
    color:#999!important;
    font-size: 0.667em!important;
    font-weight:400;
}

.addeventatc_dropdown .frs a {background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:400!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;}
.addeventatc_dropdown .frs a:hover {color:#999!important;}
.addeventatc_dropdown .copyx {height:21px;display:block;position:relative;cursor:default;}
.addeventatc_dropdown .brx {height:1px;overflow:hidden;background:#e8e8e8;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
.addeventatc_dropdown.addeventatc-selected {transform:scale(1,1) translateY(0px);z-index:99999999999;}
.addeventatc_dropdown.topdown.addeventatc-selected {transform:scale(1,1) translateY(0px)!important;}
.addeventatc_dropdown .drop_markup {background-color:#f4f4f4;}

.lista-eventi-figli {
    margin-top: 16px;
}

#articolo-dettaglio-testo .lista-eventi-figli .scheda-evento .scheda-testo h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 8px 0;
    line-height: 1.2;
}

#articolo-dettaglio-testo .lista-eventi-figli .scheda-evento .scheda-icona-small {
    color: #003382;
}

#articolo-dettaglio-testo .lista-eventi-figli .scheda-evento .scheda-icona-small svg.icon {
    fill: #003382;
}

#articolo-dettaglio-testo .lista-eventi-figli .scheda-evento .scheda-icona-small span {
    color: #555;
    font-weight: 400;
}

#evento-rating .rating>label svg {
    fill: #006631;
}

#evento-rating .rating:not(:checked)>label:hover svg, 
#evento-rating .rating:not(:checked)>label:hover~label svg, 
#evento-rating .rating>input:checked+label:hover+svg, 
#evento-rating .rating>input:checked~label svg, 
#evento-rating .rating>input:checked~label:hover+svg, 
#evento-rating .rating>input:checked~label:hover~label+svg, 
#evento-rating .rating>label:hover~input:checked~label+svg {
    fill: #006631;
}

.evento-rating-risultati {
    display: table;
    width: 100%;
    margin-bottom: 16px;
}

.evento-rating-risultati .mediapunti {
    color: #846F5D;
    font-weight: bold;
    display: table-cell;
    width: 64px;
    text-align: center;
    vertical-align: top;
    line-height: 1;
    border-right: 1px solid #827534;
}

.evento-rating-risultati .mediapunti strong {
    font-size: 2.222em;
}

.evento-rating-risultati .mediapunti span {
    font-size: 0.889em;
}

.evento-rating-risultati .valori {
    display: table-cell;
    vertical-align: top;
}

.evento-rating-risultati .valori-riga {
    height: 12px;
}

.evento-rating-risultati .valori-riga .stelle {
    float: left;
    line-height: 0;
    height: 12px;
    display: inline-block;
    text-align: right;
    width: 80px;
    margin-right: 16px;
}

.evento-rating-risultati .valori-riga .stelle svg.icon-xs {
    width: 12px;
    height: 12px;
    fill: #846F5D;
    margin: 0 -2px;
}

.evento-rating-risultati .valori-riga .percentuale {
    padding-top: 3px;
    width: 100%;
}

.evento-rating-risultati .valori-riga .percentuale .progress-bar {
    background: #846F5D;
}

.evento-rating-risultati .valori-riga .percentuale .progress {
    background: #D8D8D8;
}


/* SCHEDA SERVIZI con FOTO Es. canile */

.scheda-srv .scheda-foto {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.scheda-srv .scheda-foto figure {
    margin: 0;
}

.scheda-srv .scheda-foto img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.scheda-srv .scheda-testo h4 {
    font-size: 1.333em;
    font-weight: bold;
    margin: 0 0 8px 0;
    line-height: 1.1;
}

.scheda-srv .scheda-argomenti {
    padding: 10px 24px 16px 24px;
}

.scheda-srv .scheda-argomenti a.badge-argomenti {
    color: #006631;
    border: 1px solid #006631;
    margin-right: 8px;
    margin-bottom: 12px;
    font-size: 0.889em;
    font-weight: 600;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scheda-srv .scheda-argomenti a.badge-argomenti:hover {
    background-color: #006631;
    color: #fff;
    text-decoration: none;
}

.progress-spinner.progress-spinner-active:not(.progress-spinner-double) {
    opacity: .5;
    border-color: #7f9bc0 #7f9bc0 #e5ebf2;
    margin: 40px auto 80px auto;
}

.scheda-srv .scheda-argomenti a:focus {
    outline: 1px solid #FF8C00 !important;
}



@media (min-width: 992px) {
    .listaluoghi .col-lg-6:nth-last-child(2):nth-child(odd) .scheda-ufficio-contatti,
    .listaluoghi .col-lg-6:last-child .scheda-ufficio-contatti {
        margin-bottom: 0;
    }
}


@media (min-width: 767px) {
    #menu-sinistro {
        position: sticky;
        top: 80px;
        margin-bottom: 32px;
    }

    .articolo-ulterioriinfo .scheda-gestione {
        margin-bottom: 0;
    }

    .articolo-ulterioriinfo.schede-contatti .scheda-gestione {
        margin-bottom: 32px;
    }

    .tabella-resp .tabella-resp-piu,
    .tabella-resp .tabella-resp-meno {
        display: none !important;
    }

    .tabella-resp .tabella-campo-coll {
        max-width: 400px;
        display: table-cell !important;
    }
}

@media (min-width: 767px) and (max-width: 991px) {   
    .articolo-foto-interna figure {
        margin: 0;
    }

    .articolo-foto-interna.img-fit-cover figure img {
        height: 300px;
    }

    .stepper .step .date-step,
    .stepper-comunicazioni .step .date-step {
        width: 18%;
    }

    .stepper .step .testo-step,
    .stepper-comunicazioni .step .testo-step {
        width: 82%;
    }

    .steppertime .step .date-step {
        width: 18%;
    }

    #contenuti-correlati .scheda-correlati {
        height: auto;
        display: block;
    }

    .scheda-gestione p span {
        display: none;
    }

    .scheda-gestione .thumbs-round-icon {
        width: 60px;
        height: 60px;
        line-height: 54px;
    }

    .scheda-gestione .thumbs-round-icon i.material-icons {
        font-size: 32px;
    }

    #articolo-dettaglio-testo .allegati-riga {
        margin-bottom: 0;
    }

    #articolo-dettaglio-testo .allegati-riga .allegato, #articolo-dettaglio-testo .allegati-riga .scheda {
        margin-bottom: 0;
        margin-top: 16px;
        height: auto;
    }

    #articolo-dettaglio-testo .allegati-riga:first-of-type .col-lg-6:first-child .allegato, 
    #articolo-dettaglio-testo .allegati-riga:first-of-type .col-lg-6:first-child .scheda {
        margin-top: 0;
    }

    .listaluoghi .col-lg-6:last-child .scheda-ufficio-contatti {
        margin-bottom: 0px;
    }
    
    #articolo-dettaglio-loghi .logo-piccolo {
        height: 40px;
    }

    #articolo-dettaglio-loghi .logo-piccolo img {
        margin: 0 25px;
    }
    
    #articolo-dettaglio-loghi p {
        margin-left: -25px;
    }
}


@media (max-width: 767px) {
    .row-eq-height {
        margin-bottom: 0px;
    }

    #intro {
        margin-bottom: 42px;
    }

    #intro .titolo-sezione p {
        margin: 12px 0 24px 0;
    }

    #intro #menu-gestione .gestione {
        position: relative;
        margin: 16px 0;
        bottom: auto;
        top: 0;
    }

    #argomenti-sezione .argomenti {
        position: relative;
        margin: 16px 0;
        bottom: auto;
        top: 0;
    }

    #argomenti-sezione h4 {
        font-size: 0.889em;
        margin-bottom: 16px;
    }

    .scheda-persona,
    .scheda-video,
    .scheda-evento {
        height: auto;
    }

    .widget-mono .col-md-6 {
        margin-bottom: 24px;
    }

    .widget-mono .col-md-6 .scheda {
        margin-bottom: 0px;
    }

    .riga-mono .col-lg-6 {
        margin-bottom: 24px;
    }

    .riga-mono .col-lg-6 .scheda {
        margin-bottom: 0px;
    }

    .widget-multi .mb16 {
        margin-bottom: 0px !important;
    }

    .scheda-persona .scheda-testo h4,
    #articolo-dettaglio-testo .scheda-persona .scheda-testo h4,
    .scheda-video .scheda-testo h4, 
    .scheda-evento .scheda-testo h4 {
        font-size: 1em;
    }

    .scheda-persona .scheda-testo p,
    #articolo-dettaglio-testo .scheda-persona .scheda-testo p,
    .scheda-video .scheda-testo p, 
    .scheda-evento .scheda-testo p {
        font-size: 1em;
    }

    .scheda-interna .scheda-testo-small h4 {
        font-size: 1em;
    }

    .scheda-interna .scheda-testo-small .lista-titoli {
        font-size: 1em;
    }
    .scheda-interna .scheda-testo-small .lista-titoli li {
        font-size: 1em;
    }

    #articolo-dettaglio-foto figure img {
        height: 360px;     
    }

    #articolo-dettaglio-foto figure figcaption {
        font-size: 0.875em;
        text-align: left;
        max-width: 540px;
        padding-left: 24px !important;
        padding-right: 24px !important;
        margin: 16px auto;
    }

    .articolo-foto-interna figure figcaption {
        font-size: 0.875em;
        text-align: left;
        max-width: none;
        padding: 0;
        margin: 16px auto;
    }

    .articolo-foto-interna figure {
        margin: 0;
    }

    .articolo-foto-interna.img-fit-cover figure img {
        height: 320px;
    }

    #menu-sinistro h4.dropdown {
        font-size: 0.875em;
        border-top: 1px solid #E5E5E5;
    }

    #menu-sinistro h4.dropdown:focus {
        border: 2px solid #FF8C00 !important;
    }

    #menu-sinistro .menu-separatore {
        margin-right: 0px;
    }

    #articolo-dettaglio-testo .lineright, #articolo-dettaglio-testo .linetop, #articolo-dettaglio-testo .linetop-lg {
        border: 0;
    }

    #menu-sinistro #lista-paragrafi {
        padding-bottom: 8px;
        border-bottom: 1px solid #E5E5E5;
    }

    #menu-sinistro #lista-paragrafi .list-group-item {
        font-size: 1em;
        padding: 8px 24px;
    }

    #articolo-dettaglio-testo p {
        line-height: 1.5;
    }

    #articolo-dettaglio-testo .note {
        font-size: 0.875em;
        margin-top: 16px;
    }

    #articolo-dettaglio-testo .galleriasfondo {
        margin-left: -150px;
        margin-right: -150px;
        width: 200vw;
    }

    #articolo-dettaglio-testo .galleriaslide figcaption {
        font-size: 0.875em;
    }

    #articolo-dettaglio-testo .articolo-ulterioriinfo p,
    #articolo-dettaglio-testo .articolo-ulterioriinfo ul,
    .articolo-ulterioriinfo .callout ul, 
    .callout-punti p, 
    .callout-punti ul,
    .step .scheda-step .scheda-step-testo {
        font-size: 1em;
    }

    #articolo-dettaglio-testo .allegati-riga {
        margin-bottom: 0;
    }

    #articolo-dettaglio-testo .allegati-riga:last-of-type {
        margin-bottom: 0px;
    }

    #articolo-dettaglio-testo .allegati-riga .allegato,
    #articolo-dettaglio-testo .allegati-riga .scheda {
        margin-bottom: 0px;
        margin-top: 16px;
    }

    #articolo-dettaglio-testo .allegati-riga:first-of-type .col-lg-6:first-child .allegato,
    #articolo-dettaglio-testo .allegati-riga:first-of-type .col-lg-6:first-child .scheda {
        margin-top: 0px;
    }

    .listaluoghi .scheda-ufficio-contatti {
        margin-top: 16px;
    }

    .listaluoghi .col-lg-6:last-child .scheda-ufficio-contatti {
        margin-bottom: 0px;
    }

    .listaluoghi .col-md-12 .scheda-ufficio-contatti {
        margin-top: 12px;
    }

    .listaluoghi .row:first-child .col-lg-6:first-child .scheda-ufficio-contatti {
        margin-top: 12px;
    }

    #articolo-dettaglio-testo .scheda-allegato h4,
    #articolo-dettaglio-testo .scheda-ufficio-contatti .scheda-ufficio-testo h4 {
        font-size: 1.125em;
    }

    #articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-contatti .scheda-contatti-email, 
    #articolo-dettaglio-testo .profilo-dettaglio-testo .scheda-staff .scheda-staff-email {
        font-size: 0.875em;
    }

    #articolo-dettaglio-testo .profilo-dettaglio-testo .mappa-url li {
        margin-left: -9px;
    }

    #articolo-dettaglio-testo .profilo-dettaglio-testo .mappa-url li a {
        font-size: 0.722em;
    }

    #articolo-dettaglio-testo .scheda-allegato-accordion .accordion a[data-toggle=collapse] svg.icon {
        width: 24px;
        height: 24px;
    }

    #articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li,
    #articolo-dettaglio-testo ul.accordion-allegati li {
        font-size: 1em;
        margin: 12px 0;
    }

    #articolo-dettaglio-testo .scheda-allegato-accordion ul.accordion-allegati li svg.icon,
    #articolo-dettaglio-testo ul.accordion-allegati li svg.icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .articolo-ulterioriinfo .callout ul {
        font-size: 1em;
    }

    .scheda-gestione .thumbs-round {
        width: 64px;
        height: 64px;
    }

    .scheda-gestione .thumbs-round-icon {
        width: 64px;
        height: 64px;
        line-height: 58px;
    }

    .scheda-gestione .thumbs-round-icon i.material-icons {
        font-size: 32px;
    }

    #articolo-dettaglio-testo .paragrafo a.accordion[data-toggle=collapse] svg.icon {
        width: 24px;
        height: 24px;
    }

    .stepper .step {
        height: 88px;
    }

    .stepper .scheda-gestione {
        min-height: 64px;
        height: 64px;
    }

    .stepper .step .date-step,
    .stepper-comunicazioni .step .date-step {
        width: 15%;
    }

    .stepper .step .date-step .pallino,
    .stepper-comunicazioni .step .date-step .pallino {
        top: 22px;
    }

    .stepper .step .date-step .date-step-giorno,
    .stepper-comunicazioni .step .date-step .date-step-giorno,
    .steppertime .step .date-step .date-step-giorno {
        font-size: 2em;
    }

    .stepper .step .date-step .date-step-mese,
    .stepper-comunicazioni .step .date-step .date-step-mese,
    .steppertime .step .date-step .date-step-mese {
        font-size: 0.875em;
    }

    .stepper .step .testo-step,
    .stepper-comunicazioni .step .testo-step {
        width: 85%;
    }

    .steppertime .step .date-step {
        width: 15%;
    }

    .steppertime .step .date-step:after {
        top: 36px;
    }

    #contenuti-correlati, #contenuti-altri-argomenti {
        padding: 36px 0 36px 0;
    }

    #contenuti-altri-argomenti .argomenti {
        margin: 0 0 32px 0;
    }

    #servizi-prenotazione .testo-step {
        float: right;
    }

    .ui-datepicker {
        width: 100%;
        margin-bottom: 40px;
    }

    #servizi-prenotazione .ui-datepicker table {
        font-size: 1em;
    }

    #servizi-prenotazione .ui-datepicker th {
        text-align: left;
        padding-left: 0;
    }

    #servizi-prenotazione .ui-datepicker th span {
        text-align: center;
        width: 40px;
        display: block;
    }

    .servizi-widget textarea {
        min-height: 280px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #servizi-prenotazione .prenota-dataora .col-sm-6 {
        width: 50%;
    }

    #owl-correlati .owl-item.active {
        padding: 0 12px 0 0;
    }

    #owl-correlati .owl-item.active:last-of-type {
        padding: 0;
    }

    #intro .btn-celeste {
        margin-top: 24px;
    }

    #servizi-prenotazione select, 
    #intro select, 
    .searchWidgetModal select, 
    .servizi-widget select,
    #servizi-prenotazione input[type="text"], 
    .servizi-widget input[type="text"] {
        font-size: 1em;
        height: 40px;
    }

    #servizi-prenotazione .select-arrow, 
    #intro .select-arrow, 
    .searchWidgetModal .select-arrow,
    .servizi-widget .select-arrow {
        bottom: 4px;
    }

    #servizi-prenotazione label, .servizi-widget .form-group label {
        margin-bottom: 12px;
    }

    #intro .info-ricerca {
        margin-top:24px;
    }

    .servizi-widget .form-group .ico-sufix {
        width: 40px;
        height: 40px;
    }

    .servizi-widget .form-group-inline .ico-sufix {
        width: 32px; 
        height: 32px;
    }

    .servizi-widget .nav-tabs li a {
        padding: 8px 16px;
    }

    .notification.with-icon h5 .icon {
        width: 28px;
        height: 28px;
    }

    .tabella-resp .tabella-resp-piu {
        display: block;
        margin-right: 6px !important;
        float: left;
    }

    .tabella-resp .tabella-resp-meno {
        display: none;
        margin-right: 6px !important;
        float: left;
    }

    .tabella-resp thead {
        display: none;
    }

    .tabella-resp tbody tr {
        border-bottom: 1px solid #E5E5E5;
    }

    .tabella-resp tbody th {
        font-size: 1.125em;
        line-height: 1.2em;
    }

    .tabella-resp tbody th, 
    .tabella-resp tbody td {
        width: 100%;
        display: inline-block;
        border: 0;
        padding: 16px 0;
        vertical-align: middle;
    }

    .tabella-resp tbody th span {
        display: block;
    }

    .tabella-resp tbody td {
        padding-left: 28px;
    }

    .tabella-resp tbody td::before {
        content: attr(data-th)": ";
        font-weight: 700;
    }

    .tabella-resp tbody td.tabella-campo-azione::before {
        content: none;
    }

    .tabella-resp tbody td.tabella-campo-azione {
        width: auto;
        vertical-align: middle;
    }

    .tabella-resp .tabella-campo-coll {
        padding-top: 0em;
        padding-bottom: 1em;
        display: none;
    }

    .tabella_risultati {
        font-size: 1em;
        margin: -12px 0 16px 0;
        display: block;
    }
    
    #articolo-dettaglio-loghi {
        margin-top: 0;
    }
    
    #articolo-dettaglio-loghi .logo-piccolo {
        height: 32px;
    }

    #articolo-dettaglio-loghi .logo-piccolo img {
        margin: 0 15px;
    }
    
    #articolo-dettaglio-loghi p {
        margin-left: -15px;
    }
}

@media (max-width: 576px) {
    #articolo-dettaglio-foto figure img {
        height: 240px;     
    }

    .scheda-persona,
    .scheda-video {
        min-height: 160px;
    }
    .scheda-persona .scheda-foto,
    .scheda-video .scheda-anteprima {
        width: 114px;
    }

    .scheda-persona .scheda-foto img,
    .scheda-video .scheda-anteprima img {
        width: 114px;
    }

    .scheda-persona .scheda-testo,
    .scheda-video .scheda-testo {
        margin-right: 114px;
    }

    .scheda-persona .scheda-icona-small,
    .scheda-video .scheda-icona-small {
        margin-right: 114px;
    }

    .stepper .step .date-step,
    .steppertime .step .date-step {
        width: 18%;
    }

    .stepper .step .testo-step {
        width: 82%;
    }

    #owl-correlati .owl-item.active,
    #owl-correlati .owl-item.active:last-of-type {
        padding: 0;
    }

    .articolo-foto-interna.img-fit-cover figure img {
        height: 264px;
    }

    .searchWidgetModal .col-xs-6,
    .servizi-widget .col-xs-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .servizi-widget .nav-tabs li a {
        padding: 8px 12px;
        font-size: 1em;
    }

    #servizi-prenotazione .ui-datepicker th {
        padding: 0;
    }
    
    #articolo-dettaglio-loghi .logo-piccolo {
        height: 30px;
    }

    #articolo-dettaglio-loghi .logo-piccolo img {
        margin: 0 10px;
    }
    
    #articolo-dettaglio-loghi p {
        margin-left: -10px;
    }
}


