.search-result-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.search-result-box {
    font-size: 0.75rem;
    text-decoration: none;
    padding: 1rem 0rem 2rem 0rem;
    margin-top: 2rem;
    background-color: white;
    border-bottom: 1px solid #CCC;
}
.search-result-title {
    color: #0F62FE;
    font-weight: 400;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.search-result-content-title {
    font-size: 1.5rem;
}

.search-result-content-title > a {
    color: #000;
    text-decoration: none;
}

.search-result-content-title a:hover {
    color: #000;
    text-decoration: underline;
  }

.search-result-content-abstract, .search-result-content-text {
    font-size: 0.875rem;
    padding: 1rem 0rem 1rem 0rem;
}

.search-result-content-date {
    font-size: 0.6rem;
}
